body{
     margin:0px;
     padding:0px;
	 font:normal 14px Tahoma, Geneva, sans-serif;
	 color:#6a6a6a;
	 background-color:#eeebd9;
	 letter-spacing:2;
	 -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
	 margin:0px;
	 padding:15px 0px 10px 20px;
	 text-align: left;
	 font-family: Cantata One, serif;
	 font-size: 40px;
	 font-weight: 200;
	 color:#ffffff;
	 background-color: #9a778b;
	 -webkit-font-smoothing: subpixel-antialiased;
}
}
h2 {
	 text-align: left;
	 font-family: Cantata One, serif;
	 font-size: 30px;
	 color:#fff;
	 margin:0px;
	 padding:20px;
	 -webkit-font-smoothing: subpixel-antialiased;
}
#logo { 
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

#wrapper{
	 margin: 40px auto;
     padding:0px;
	 width:1100px;
	 background-color:#ffffff;
	 border: 1px solid #cccccc;
	 border-top-right-radius: 140px 80px;
	 border-top-left-radius: 140px 80px;
	 border-bottom-right-radius: 140px 80px;
	 border-bottom-left-radius: 140px 80px;
}
#top {
     margin:auto 0px;
     padding:10px;
	 width: 1080px;
	 height:80px;
     background-color:#fff;   
	 border-top-right-radius: 140px 80px;
	 border-top-left-radius: 140px 80px;
}
#navis{
background-color: #9a778b;
padding:5px 0px;
}

#navis ul{
	 list-style-type:none;
         margin:0px auto;
	 padding:20px 20px;
	 width: auto;	 
	 text-align: center;
	 color:#fff;
	 font:normal 10px Helvetica, Arial, sans-serif;
	 letter-spacing:3px; 
	 text-transform:uppercase;
	 text-shadow:-1px -1px #666666;
	 border-width:1px;	
	 border-top-style:dashed;
	 border-bottom-style:dashed;
	 border-left-style:none;
	 border-right-style:none;
         background-color:#9a778b;	 
}
#navis li{
display:inline;
}
li.hide{
visibility:hidden;
}
#navis li a{
color: #fff;
padding:10px;
text-decoration:none;
}
#navis li a:hover{
color: #d8d7d8;
padding:5px;
}
#main  {
     margin:0 auto;
     padding:0px;
	 background-color:#ffffff;
}
#centerboxes{
width:960px;
margin: 0 auto;
}

.boxes {
     float:left;
     width:220px;
	 height: auto;
	 margin: 0px 10px 20px 10px;
     padding:0px;
     border-bottom: 1px solid #cccccc;	  
	 
}
.boxes h2 {
	 text-align: left;
	 font-family: Cantata One, serif;
	 font-size: 20px;
	 font-weight:200;
	 color:#9a778b;
	 margin:0px;
	 padding:15px 20px 10px 20px;
	 -webkit-font-smoothing: subpixel-antialiased;
	 border-top-style:solid;
	 border-top-width: 3px;
	 background-color:#f5f3e8;
}
.boxes p {
     float:left;
	 margin:0px;
     padding:10px 20px 20px 20px;
	 font-size:13px;
	 color: #616161;
	 text-shadow:0 1px 0 rgba(255,255,255,.2);
	 background-color:#f5f3e8;
}
#container2 {
	 width:940px;
     height:710px;
	 padding:0px;
	 margin:100px auto 10px auto;
	 position:relative;
	 z-index:0;
	 background-color:#f5f3e8;
}
#container3 {
	 width:940px;
     height:500px;
	 padding:0px;
	 margin:100px auto 10px auto;
	 position:relative;
	 z-index:0;
	 background-color:#f5f3e8;
}
#container3 h2 {
   margin:0px;
	 padding:15px 0px 10px 20px;
	 text-align: left;
	 font-family: Cantata One, serif;
	 font-size: 30px;
	 font-weight: 200;
	 color:#9a778b;
	 -webkit-font-smoothing: subpixel-antialiased;
}
#container3 p {
	 text-align: left;
	 margin-right:0px;
	 margin-bottom: 0px;
	 padding:0px 20px 5px 20px;
}
#container4 {
	 width:940px;
     height:600px;
	 padding:0px;
	 margin:100px auto 10px auto;
	 position:relative;
	 z-index:0;
	 background-color:#f5f3e8;
}
.content {
     float:left;
	 margin:0px;
	 padding:0px;
     width:220px;
     height:376px;	 
	 background-color:#f5f3e8;  
}
.content h2 {
     margin:0px;
	 padding:30px 30px 20px 30px;
	 text-align: left;
	 font-family: Cantata One, serif;
	 font-size: 30px;
	 font-weight: 200;
	 color:#9a778b;
	 -webkit-font-smoothing: subpixel-antialiased;
}
.content p {
	 text-align: left;
	 margin:0px;
	 padding:0px 30px;
}
.content2 {
     float:left;
	 margin:0px;
	 padding:0px;
     width:940px;
     height:180px;	 
	 background-color:#f5f3e8;  
}
.content2 h2 {
     margin:0px;
	 padding:15px 0px 10px 10px;
	 text-align: left;
	 font-family: Cantata One, serif;
	 font-size: 30px;
	 font-weight: 200;
	 color:#9a778b;
	 -webkit-font-smoothing: subpixel-antialiased;
}
.content2 p {
	 text-align: left;
	 margin-right: 0px;
	 margin-bottom: 0px;
	 padding:0px 15px 5px 10px;
}
.content3 {
     float:left;
	 margin:0px;
	 padding:0px;
     width:940px;
     height:120px;	 
	 background-color:#f5f3e8;  
}
.content3 h2 {
     margin:0px;
	 padding:20px 20px 5px 20px;
	 text-align: left;
	 font-family: Cantata One, serif;
	 font-size: 30px;
	 font-weight: 200;
	 color:#9a778b;
	 -webkit-font-smoothing: subpixel-antialiased;
}
.content3 p {
	 text-align: left;
	 margin:10px 0px;
	 padding:0px 20px;
}
.content4 {
     float:left;
	 margin-right:20px;
	 margin-left:0px;
	 padding:0px;
     width:220px;
     height:600px;	 
	 background-color:#f5f3e8;  
}
.venue {
	 float: left;
	 padding:0px 15px 5px 10px;
} 
.venue p {
	 padding:0px 15px 5px 10px;
}
.fotos{
	 float:left;
	 margin-left:0px;
	 margin-bottom:0px;
	 padding:20px;
	 width:180px;
	 height:123px;	   
     background-color:#f5f3e8;	 
}
.fotos2{
	 float:left;
	 margin-left:0px;
	 margin-bottom:0px;
	 padding:20px 20px 20px 10px;
	 width:700px;
	 height:366px;	   
     background-color:#f5f3e8;	 
}
#clear {
     clear:both;
}
#footer{
	 padding: 0px;
     background-color:#9a778b;
     margin:0px;
	 height:100px;
	 border-bottom-right-radius: 140px 80px;
	 border-bottom-left-radius: 140px 80px;
}
#footboxright{
	float:right;
	margin-top:20px;
	margin-right:80px;
	padding:0px;
	color:#ffffff;
	font-size:12px;
	text-shadow:-1px -1px #666666;
}
#footboxleft{
	float:left;
	margin-top:20px;
	margin-left:80px;
	padding:0px;
	color:#ffffff;
	font-size:12px;
	text-shadow:-1px -1px #666666;
}
a:link,a:visited {
	color:#e7d9e7;
}

a:hover,a:active {
	color:#cab8ca;
	text-decoration:underline;
}
table {
	width:600px;
	padding:10px;
	margin:0 auto;
	}
th, td{
padding: 10px;
}
th{
text-transform:uppercase;
letter-spacing:2px;
font-size: 10px;
text-align:left;
}
tr {
background-color:#ffffff;
}
table.prices{
width:500px;
padding:10px 30px;
text-align:center;
}
th.even{
width:100px;
text-align:center;
}
form{
margin:20px;
width:500px;
float:left;
border: 1px solid #cccccc;
background-color:#ffffff;
}
p.forma{
margin:20px 20px 0px 10px;
padding-left:10px;
}
input{
margin:5px 20px 0px 30px;
}
textarea{
height:70px;
width:440px;
margin:5px 30px 0px 30px;
font-family: courier; 
font-size: 1em; 
color: #4f4f51;
border: 1px solid #cccccc;
}
button{
font-family: tahoma;
text-transform:lowercase;
margin:5px 20px 20px 30px;
float:right;
color: #4f4f51;
}
iframe{
float:right;
width:200px;
height:200px;
margin:30px;
}


div.hover:hover {
	color:#cccccc;
	text-decoration:none;
	background-color: #cccccc;
	opacity: 0.65;
}
